/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/home/home.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.custom-scrollbar::-webkit-scrollbar {
    width: 1.6em;
    height: 1.6em;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #FDEDF1;
    border-radius: 100vw;
    margin-block: .5em;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #FF0066;
    border: .30em solid #FDEDF1;
    border-radius: 100vw;
}

.scrollbarhidden::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}
